/data/
/.idea/
.DS_Store
pkgs/__pycache__/
generated_data/srf_model.pkl
pkgs/data/__pycache__/
pkgs/experiments/__pycache__/
pkgs/models/__pycache__/
generated_data/ti_srf_model.pkl
generated_data/egfr_tv_srf_model.pkl
pkgs/playground/__pycache__/