/data/
/.idea/
.DS_Store
pkgs/__pycache__/
pkgs/data/__pycache__/
pkgs/experiments/__pycache__/
pkgs/models/__pycache__/
pkgs/playground/__pycache__/

generated_data/egfr_tv_srf_model.pkl
generated_data/egfr_tv_hazard_transformer_model.pt
